<html>
    <head>
        <title>Really EZTV</title>
        <script language="JavaScript" type="text/javascript" src="js/jquery.js"></script>
        <script language="JavaScript" type="text/javascript" src="js/jquery.autocomplete-min.js"></script>
        <script language="JavaScript" type="text/javascript">

        $(document).ready(function() 
        {
            $("#processing").hide();
            $("#results").hide();

            var options, a;
            jQuery(function() 
            {
                options = { serviceUrl:"/auto", width:460, minChars:2, deferRequestBy:100 };
                a = $('#query').autocomplete(options);
            });

            $("#query").keyup(function(e) 
            {
                e.preventDefault(); 
                e.stopPropagation();
                if (e.keyCode == 13)
                {
                    var loadUrl = "/exists/" + escape($("#query").val());
                    $("#results").hide('fast', loadContent(loadUrl));
                }
            });

            function loadContent(url)
            {
                $("#processing").show();
                $("#results").empty();
                $("#results").load(url,'',showResults); 
            }

            function showResults()
            {
                $("#processing").fadeOut();
                $("#results").fadeIn();
            }
        });
    </script>
    <link rel="stylesheet" href="style.css" type="text/css" media="screen" /> 
</head>
<body>
    <div id ="container">
        <div id="input">
            <input id="query" type="text" />
            <img id="processing" src="images/progress.gif" />
        </div>
        <br/>
        <div id="results">
        </div>
    </div>
</body>
</html>
