<html>
  <head>
    <title>Really EZTV</title>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript">

    $(document).ready(function() {
      $("#processing").hide();

      $("#showName").keyup(function(e) {
        if (e.keyCode == 13)
        {
          var loadUrl = "/go?show=" + escape($("#showName").val());
          $("#results").hide('fast', loadContent(loadUrl));
        }
      });

      function loadContent(url)
      {
          $("#processing").fadeIn();
          $("#results").empty();
          $("#results").load(url,'',showResults); 
      }

      function showResults()
      {
        $("#processing").fadeOut();
        $("#results").fadeIn();
      }
    });
  </script>
  <style type="text/css">
   div#input {
     width:500px;
     margin: 0px auto;
    }

    input#showName {
     height:50px; 
     width:100%;
     margin:0px auto;
     font-size:35px;
    }

    img#processing 
    {
      margin:0px auto;
    }

    h2#title
    {
      font-size:50px;
      font-family:sans-serif;
      text-align:center;
    }

  </style>
</head>
<body>
    <div id="input">
      <h2 id="title">Really EZTV</h2>
      <input placeholder="Show Name" id="showName" type="text" />
    <div id="results">
      <img id="processing" src="images/progress.gif" />
    </div>
  </div>
</body>
</html>
