<html>
    <head>
        <title>Really EZTV</title>
    </head>
    <body>
        <ul>
        <% shows.keys.sort.each do |season| %>
            <h2>Season: <%= season %></h2>
            <% shows[season][:episodes].keys.sort.each do |b| %>
                <% ep = shows[season][:episodes][b] %>
                <h3>Episode <%= b %></h3>
                <ul>
                    <li><%= ep[:publishedDate].strftime("%b") %></li>
                    <li><a href="<%= ep[:torrentLink] %>">Link</a></li>
                </ul>
            <% end %>
        <% end %>
    </body>
</html>
