<% shows.keys.sort.reverse.each do |season| %>
  <strong class="seasons">Season <%= season %></strong>
  <br/>
  <% shows[season][:episodes].keys.sort.each do |b| %>
    <% ep = shows[season][:episodes][b] %>
    <div>
      <a href="<%= ep[:torrentLink] %>">
        <strong><%= b %></strong>
        <br/>
        <span><%= ep[:publishedDate].strftime("%d %b %Y") %></span>
      </a>
    </div>
  <% end %>
  <br/><br/>
<% end %>
