body
{
    background-color:#494949;
}

div#input 
{
    width:500px;
    margin: 0px auto;
}

span.error
{
    text-align:center;
    font-style:italic;
    color:#fff;
}

div#results 
{
    padding:5px 10px 5px 10px;
    width:800px;
    margin:0px auto;
    background-color:#3d3d3d;
    text-align:left;
}

div#results div 
{
    margin-right:10px;
    margin-top:10px;
    background-color:#3d3d3d;
    display:inline-block;
    width:100px;
    height:50px;
    font-family:sans-serif;
}

div#results div a 
{
    color:#fff;
    text-decoration:none;
    display:block;
    width:100px;
    height:50px;
}

div#results div strong, div#results div span 
{
    margin-left:5px;
    font-size:10px;
}

div#results div strong
{
    font-size:12px;

}

div#results div a:hover
{
    color:#fff;
    background-color:#290808;
    text-decoration:none;
}

input#query 
{
    height:50px; 
    width:460px;
    margin:0px auto;
    color:#fff;
    background-color:#363331;
    border:none;
    font-size:30px;
}

img#processing 
{
    margin:0px auto;
    margin-top:8px;
    float:right;
}

label#showname
{
    font-size:20px;
    font-family:sans-serif;
    color:#5C5C5C;
}

strong.seasons
{
    font-family:sans-serif;
    font-size:14px;
    margin:0px;
    margin-top:15px;
    margin-left:3px;
    color:#FFF;
}

.autocomplete-w1 { 
    /*position:absolute;*/ 
    top:0px;
    left:0px; 
    margin:6px 0 0 6px; 
    color:#fff;
    /* IE6 fix: */ _background:none; 
_margin:1px 0 0 0;
     }
     .autocomplete 
     { 
         border:1px solid #000; 
         background:#000; 
         cursor:default; 
         font-size:20px; 
         font-family:sans-serif;
         text-align:left; 
         max-height:350px; 
         overflow:auto; 
         margin:-6px 6px 6px -6px; 
         /* IE6 specific: */ 
         _height:350px;  
         _margin:0;
         _overflow-x:hidden; 
     }

     .autocomplete .selected
     {
         background:#dedede; 
         color:#000;
     }
     .autocomplete div 
     { 
         padding:2px 5px; 
         white-space:nowrap; 
         overflow:hidden; 
     }

     .autocomplete strong 
     { 
         font-weight:normal; 
         color:#4c4c4c; 
     }

     #footer 
     {
         font-family:sans-serif;
         font-size:10px;
         color:#fff;
         margin:0px auto;
     }

